{{ define "main" }}
<h1>{{ .Title }}</h1>
<!--
<h2>発表件数集計</h2>
<table id="summary-table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>カテゴリ</th>
      <th>件数</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
-->

<img src="images/timetable.svg" width="1100px">

<br>
<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="categoryFilter" class="form-label">カテゴリで絞り込み：</label>
      <select class="form-select" id="categoryFilter">
        <option value="ALL">すべて表示</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="sessionFilter" class="form-label">セッションで絞り込み：</label>
      <select class="form-select" id="sessionFilter">
        <option value="ALL">すべて表示</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="dateFilter" class="form-label">開催日で絞り込み：</label>
      <select class="form-select" id="dateFilter">
        <option value="ALL">すべて表示</option>
      </select>
    </div>
  </div>
</div>

<table class="program-table" id="program-table">
</table>

<script src="js/abstract.js"></script>
{{ end }}